@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "LogoFont";
  src: url("./Header/Fonts/LobsterTwo-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "MenuFontRegular";
  src: url("./Header/Fonts/LobsterTwo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LoraFontArticles";
  src: url("./Header/Fonts/Lora-Medium.ttf") format("truetype");
}
.logoFontStyle {
  font-family: LogoFont;
  font-size: 25px;
}
.MenuFontRegular {
  font-family: MenuFontRegular;
  font-size: 20px;
}
.LoraFontArticles {
  font-family: LoraFontArticles;
}
.NewsCard {
  height: 100%;
  opacity: 80%;
}
.NewsCard:hover {
  opacity: 100%;
  cursor: pointer;
}
